body{
 background-image: url("images/user_profile_background.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 overflow: hidden;
}
@media only screen and (max-width: 980px) {
  body {
    background-image: url("images/user_profile_mob.jpg")!important;
    background-repeat: no-repeat;
    background-size: auto;
    overflow: hidden;
  }
}
nav{
  background-color: rgba(0, 0, 0, 0.645);
}
@media only screen and (max-width: 980px) {
  nav {
   width:101%;
  }
}
.nav-link{
  color: white;
}
@font-face {
  font-family: "fabulous";
  src:url("FabulousSteampunk-1rYZ.ttf");
}
.navbar{
  padding-bottom: 2px;

}
.user_profile{
  margin-left: 38rem;
  margin-top: 10px;
  line-height: 1;
  font-size: 3rem;
  margin-bottom: 0;
  text-decoration: none;
  color:white;
  font-family: fabulous;
}
@media only screen and (max-width: 980px) {
  .user_profile {
  margin-left: 18rem;
  font-size: 4rem;
  margin-top: 15px !important;
  margin-bottom: 1rem !important;
  }
}
.user_profile:hover{
  text-decoration: none;
  color:white;
}
.logout{
  font-size: 2rem;
  margin-bottom: 0;
  margin-left: 26rem;
  text-decoration: none;
  display:inline-block;
  border: none;
  color:white;
  font-family: fabulous;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 980px) {
.logout{
  display:none !important;
  }
}
.logout:hover{
  text-decoration: none;
  color:white;
  transform: scale(1.1);
}
.logout-icon{
  display:none;
}
@media only screen and (max-width: 980px) {
.logout-icon{
  display:block;
  width:90%;
}
}
.logo{
position: fixed;
top:1px;
left:10px;
width:180px;
height:130px;
}
@media only screen and (max-width: 980px) {
  .logo {
    top:0px;
    height:100px;
    width:140px;
  }
}
.container1{
    background-color: rgba(0, 0, 0, 0.645);
    float: right;
    margin-top: 3rem;
    margin-right: 8rem;
    width:62vw;
    height: 20vh;
}
@media only screen and (max-width: 980px) {
  .container1 {
    width:83vw;
    height:15vh;
    margin-right: 5rem;
    margin-top: 5rem;
    animation: bounce;
  }
}
.container2{
    background-color: rgba(0, 0, 0, 0.645);
    float: right;
    margin-top: 2.5rem;
    margin-right: 8rem;
    width:62vw;
    height: 18vh;
}
@media only screen and (max-width: 980px) {
  .container2 {
    width:83vw;
    height:15vh;
    margin-top: 3.5rem;
    margin-right: 5rem;
  }
}
.container3{
    background-color: rgba(0, 0, 0, 0.645);
    float: right;
    margin-top: 2.5rem;
    margin-right: 8rem;
    width:62vw;
    height: 29vh;
    overflow-y: scroll;
}
@media only screen and (max-width: 980px) {
  .container3 {
    width:83vw;
    height:20vh;
    margin-top: 3.5rem;
    margin-right: 5rem;
  }
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}
.details{
  color: white;
  font-size: 1.5rem;
  margin:10px 0 0 16px;
font-family: 'Volkhov', serif;
}
@media only screen and (max-width: 980px) {
  .details{
    font-size:2.5rem;
  }
}
@media only screen and (max-width: 980px) {
.container3 .details{
    padding-bottom:2rem;
  }
}
.animate__animated{
  --animate-duration:1s;
}
.edit{
  width:40px;
  height:10px;
  margin: 10px 20px 0 40rem;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: 'Volkhov', serif;
  border: none;
  color:white;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.edit:hover{
    text-decoration: none;
    color:white;
    transform: scale(1.1);
}
.edit-icon{
  display:none;
}
@media only screen and (max-width: 980px) {
  .edit{
  display:none;
  }
}
@media only screen and (max-width: 980px) {
  .edit-icon{
  display:block;
  width:70%;
  margin: 10px 10px 0 0
  }
}
.highlight{
  text-align: right;
  padding-left: 6rem;
  font-size: 1.25rem;
  line-height: 1.25;
  color: white;
font-family: 'Volkhov', serif;
}
@media only screen and (max-width: 980px) {
  .highlight{
    font-size: 2.25rem
  }
}
.grey{
  padding-left: 6rem;
  font-size: 1.15rem;
  line-height: 1.45;
font-family: 'Volkhov', serif;
color:rgb(169,169,169);
}
@media only screen and (max-width: 980px) {
  .grey{
    font-size: 2.25rem;
    color:white;
  }
}
.container3 .highlight{
  margin-top: 3rem;
  line-height: 2;
}
@media only screen and (max-width: 980px) {
  .container3 .highlight{
    padding-left: 3rem;
  }
}
.venue_event{
  text-align: right;
  padding-left: 6rem;
  font-size: 1.25rem;
  line-height: 1.25;
  color: white;
  font-family: 'Volkhov', serif;
}
@media only screen and (max-width: 980px) {
  .venue_event{
    display:none;
  }
}
.date_event{
  text-align: right;
  padding-left: 6rem;
  font-size: 1.25rem;
  line-height: 1.25;
  color: white;
font-family: 'Volkhov', serif;
}
@media only screen and (max-width: 980px) {
  .date_event{
    display:none;
  }
}
.date{
  display:none;
}

@media only screen and (max-width: 980px) {
  .date{
    display:inline-block;
    text-align: right;
    padding-left: 6rem;
    font-size: 2.25rem;
    line-height: 2;
    color: white;
  font-family: 'Volkhov', serif;
  }
}
.event{
  display:none;
}
@media only screen and (max-width: 980px) {
  .event{
      display:inline-block;
      text-align: right;
      padding-left: 6rem;
      font-size: 2.25rem;
      line-height: 2;
      color: white;
    font-family: 'Volkhov', serif;
  }
}
.card{
  width:80%;
  height:35%;
  margin:8rem 0 0 5rem;
}
@media only screen and (max-width: 980px) {
  .card {
    margin:8rem 0 0 17rem;
    width:50%;
    height:70%;
  }
}
.bg-custom1{
  background-color: rgba(0, 0, 0, 0.645)!important;
}
.profile{
border-radius: 50%;
width:60%;
margin: -8% 0 20% 22%;
padding-top: 50%;
padding:10px;
}
@media only screen and (max-width: 980px) {
  .profile {
    width:60%;
    margin: -8% 0 20% 20%;
  }
}
.title{
  text-align: center;
  color: white;
  font-family: 'Volkhov', serif;
  margin-top: -3rem;
  font-size: 1.5rem;
}
@media only screen and (max-width: 980px) {
  .title {
    font-size: 2.5rem;
  }
}
.circle{
  margin-left: 8rem;
  position: absolute;
  bottom: 3rem;
  height: 23%;
  width:18%;
  display: flex;
  border: none;
  transition: all 0.3s ease-in-out;
}
.circle:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 980px) {
  .circle {
    margin-left: 12.25rem;
    bottom: 5rem;
  }
}
